<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssos.formenginv2.mapper.FieldRelationMapper">

    <select id="findAllTableName" resultType="java.lang.String">
        select table_name from field_relation;
    </select>
    <select id="findAll" resultType="com.ssos.formenginv2.vo.FieldRelationVo">

        select * from field_relation;
    </select>
    <select id="findFieleById" resultType="com.ssos.formenginv2.vo.FieldVo">
        select f.id, f.field_name, field_mark
from form_field ff
    left join field f on ff.field_id = f.id
where ff.form_id = #{id}

    </select>
    <select id="findAllFormId" resultType="java.lang.Long">

        select id from field_relation
    </select>
</mapper>
