<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssos.formenginv2.mapper.FieldRelationMapper">

    <select id="findAllTableName" resultType="java.lang.String">
        select table_name from field_relation;
    </select>
</mapper>
