<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssos.formenginv2.mapper.FormFieldMapper">


    <select id="findFieldId" resultType="java.lang.Long">
        select field_id from form_field where form_id = #{id}
    </select>
</mapper>
